Package: com.wizages.springchanger
Name: SpringChanger
Depends: mobilesubstrate, com.wizages.bae, ws.hbang.common
Version: 0.2-2
Architecture: iphoneos-arm
Description: Allows you to change the colors of the respring screen and even add images. Also allows you to preview without respringing.
Maintainer: wizage
Author: wizage
Section: Tweaks
